<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" >
    <ion-button routerLink="/landing" >
      <ion-icon  name="chevron-back-outline"></ion-icon>
      <ion-text > back </ion-text>
    </ion-button>
</ion-header>
  <ion-grid>
    <div class="container">
        <ion-img class="ion-text-center ion-align-self-center" src="assets/icon/images/undraw_Welcoming_re_x0qo-297x300-removebg-preview.png" style="width: 233px;
        height: 209px " ></ion-img>
      </div>
    <ion-row style="margin-top: auto;">
      <ion-col size=" 12">
        <ion-text> Enter the email address associated with your account</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input label="Email address" clearInput="" color="primary" placeholder="Enter your email address" type="email" labelPlacement="floating" ></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=" 12">
        <ion-button  expand="block" shape="round"  routerLink="/login">Continue</ion-button>
      </ion-col>
    </ion-row>
    <div>
      <p> <ion-text>Don't have an account ? <a style="text-decoration: none; color: orange;" routerLink="/signup">Signup now !</a></ion-text></p>
    </div>
  </ion-grid>
</ion-content>