
<ion-content class="container" [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
            <ion-img src="assets/icon/images/4.-Como-ganhar-dinheiro-com-o-cartao-de-credito-Descubra-x-formas-de-fazer-isso-removebg-preview.png"></ion-img>
            <ion-title style="font-size: xx-large; font-style: normal; font-weight: bold;" >Manage your finance</ion-title>
          </ion-col>
        </ion-row>
       </ion-grid>
  </div>

        <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 50%;">
          <ion-fab-button routerLink="/login" >
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>
