  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>

      </ion-buttons>
      <ion-title></ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="exportData()">
          <ion-icon name="save"></ion-icon></ion-button>

      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12" slot="end">
        <ion-icon name="wallet-outline"></ion-icon>  {{score}}
      </div>
      <div class="col-md-8">


        <table class="table" *ngIf="hasData()">
          <ion-title>Mes Opérations </ion-title>
          <tbody *ngFor="let operationGroup of operationGroups">
            <tr>
              <th colspan="3" class="table-active">{{ operationGroup.title }}</th>
            </tr>
            <tr *ngFor="let operation of operationGroup.operations">
              <td><ion-icon [name]="operation.icon" class="mr-2"></ion-icon></td>
              <td>{{ operation.label }}</td>
              <td>{{ operation.amount | currency:'XAF':'symbol':'1.0-0' }} <ion-note slot="end">{{ operation.timestamp | date: 'medium' }}</ion-note></td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <ion-title >Cumuls</ion-title>
          <tbody>
            <ng-container *ngFor="let operationGroup of operationGroups">
              <tr>
                <th colspan="2" class="table-active">{{ operationGroup.title }} Cumul</th>
              </tr>
              <tr>
                <td>Total Journalier</td>
                <td><ion-note slot="end">{{ calculateTotalByPeriod('day', operationGroup) | currency:'XAF':'symbol':'1.0-0' }}</ion-note></td>
              </tr>
              <tr>
                <td>Total Hebdomadaire</td>
                <td><ion-note slot="end">{{ calculateTotalByPeriod('week', operationGroup) | currency:'XAF':'symbol':'1.0-0' }}</ion-note></td>
              </tr>
              <tr>
                <td>Total Mensuel</td>
                <td><ion-note slot="end">{{ calculateTotalByPeriod('month', operationGroup) | currency:'XAF':'symbol':'1.0-0' }}</ion-note></td>
              </tr>
              <tr>
                <td>Total Annuel</td>
                <td><ion-note slot="end">{{ calculateTotalByPeriod('year', operationGroup) | currency:'XAF':'symbol':'1.0-0' }}</ion-note></td>
              </tr>
            </ng-container>
          </tbody>
        </table>




      </div>
    </div>

  </ion-content>



