*{
  font-family: lato;
}

.menu-header-bg{
  height: 180px;
  width: 350px;
  background: #4C8DFF;
  background: linear-gradient(90deg, #4C8DFF 0%, #4C8DFF 100%);
  box-shadow: 0px 1px 10px rgba($color: #000000, $alpha: 1.0);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 10px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}
.header-content{
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-right: 14px;
  }
  h2{
    font-weight: 300;
    color: #fff;
  }
  p{
    font-size: 12px;
    color: #4C8DFF;
    font-weight: 100;
    letter-spacing: 0.4px;
  }
}
.action-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  ion-button{
    text-transform: capitalize;
    font-weight:300;
    --background: #628cff;
    --border-radius: 7px;
    --box-shadow:none;
  }
  ion-icon {
    margin-right: 1px;
  }
}
