<ion-app>
  <ion-menu contentId="main-content">
    <ion-content>
      <h1>Menu</h1>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../assets/icon/images/001.png" alt="logo">
        <ion-label>
          <h2>M. Hitman</h2>
          <p>Angular Developer</p>
        </ion-label>
      </div>
      <div class="action-button">
        <ion-button>
          <ion-icon  slot="start" name="add" ></ion-icon> Add Branch
        </ion-button>
      </div>
      <ion-list class="menu-items"  lines="none">
        <ion-item>
          <ion-icon name="pie-chart-outline"></ion-icon>Dashboard
        </ion-item>
        <ion-item  class="active" >
            <ion-icon name="flash" ></ion-icon>Live sessions
        </ion-item>
        <ion-item>
          <ion-icon name="settings" ></ion-icon>Settings
        </ion-item>
        <ion-item>
          <ion-icon name="information-circle" ></ion-icon>About
        </ion-item>
        <ion-item>
          <ion-icon name="log-out" ></ion-icon>Logout
        </ion-item>
        <ion-item>
          <ion-icon name="help-circle" ></ion-icon>Help
        </ion-item>
        <ion-item>
          <ion-icon name="mail" ></ion-icon>Contact
        </ion-item>
      </ion-list>
    </ion-content>
   </ion-menu>
   <ion-app-home></ion-app-home>
   <ion-app-statistics> </ion-app-statistics>
   <ion-router-outlet id="main-content"></ion-router-outlet>
   <ion-tabs></ion-tabs>
</ion-app>

