<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <!-- Tableau pour les opérations -->
      <table class="table" *ngIf="hasData()">
        <tbody *ngFor="let operationGroup of operationGroups">
          <tr>
            <th colspan="3" class="table-active">{{ operationGroup.title }}</th>
          </tr>
          <tr *ngFor="let operation of operationGroup.operations">
            <td><ion-icon [name]="operation.icon" class="mr-2"></ion-icon></td>
            <td>{{ operation.label }}</td>
            <td>{{ operation.amount }} <ion-note slot="end">{{ operation.timestamp | date: 'medium' }}</ion-note></td>
          </tr>
        </tbody>
      </table>


      <table class="table">
        <tbody>
          <tr>
            <th colspan="2" class="table-active">Cumuls</th>
          </tr>
          <tr>
            <td>Total Journalier</td>
            <td><ion-note slot="end">{{ dailyTotal }}</ion-note></td>
          </tr>
          <tr>
            <td>Total Hebdomadaire</td>
            <td><ion-note slot="end">{{ weeklyTotal }}</ion-note></td>
          </tr>
          <tr>
            <td>Total Mensuel</td>
            <td><ion-note slot="end">{{ monthlyTotal }}</ion-note></td>
          </tr>
          <tr>
            <td>Total Annuel</td>
            <td><ion-note slot="end">{{ yearlyTotal }}</ion-note></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</ion-content>
